<!DOCTYPE html>
<html land = 'en'>
	<head>
		<meta charset = "utf-8">
	</head>

	<body>
		<link rel = "stylesheet" type = "text/css" href= "{{ url_for('static',filename='design.css') }}" >

		<div class = "rectangle"></div>

		<button id="btn">Tweet!</button>

		<div id="response"></div>

		<div class="donald">
			<img src="https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_400x400.jpg" >
		</div>

<div class="checkmark">
	<img src="https://www.pngtube.com/myfile/detail/56-562440_twitter-verified-badge-twitter-verified-account-icon.png" >
</div>

<div class="Name">
    <h1>Donald J. Trump</h1>
</div>

<span class="username">@nlpDonaldTrump</span>

		<script>
	src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>

	 </script>

<script type = "text/javascript">
	$('button#btn').click(function(){
		$.ajax({
			url: "/_get_data/"
			type: "POST"
			success: function(resp){
				$('div#response').append(resp.data);
			}
		});
	});
</script>

	</body>
</html>

